{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-12">
    <!-- Call helper function with triple brackets to render the emoji span as HTML -->
    <div class='card'>
      <div class='card-header'>
        <h3><a href="/blog/{{blog.id}}">{{blog.title}}</a></h3><p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
      </div>
      <div class='card-body'>
      {{blog.description}}
      </div>
    </div>
  </div>
  
</div>
{{/each}}